﻿@using Turner.Model
@model List<Title>

@{
    ViewBag.Title = "Search Result";
}

<h2>Search Result</h2>

@if(@Model.Count > 0)
{
<ul>
@foreach (Title title in @Model)
{
    <li>
        <a href="/Title/Detail?titleId=@title.TitleId">@title.TitleName - @title.ReleaseYear</a></li>
}
    </ul>
}
else
{ 
   <span>No result found</span>
}